/* Toggle Button */

#btn-views-filters{
		background-image:url(/images/ico_arrow_down.png);
		background-position:10px 10px;
		background-repeat:no-repeat;
		padding-left:25px;
		width:250px;
}

#btn-views-filters:hover,
#btn-views-filters:active{
		background-position:10px -15px;
}

#btn-views-filters.open {
		background-position:10px -75px;
}

#btn-views-filters.open:hover,
#btn-views-filters.open:active{
		background-position:10px -50px;
}

/* Filter Box */

.view-filters{
		padding:0 0 15px 10px;
		margin-bottom:10px;
		border-bottom:2px solid #ccc;
		background-color:#eee;
		clear:both;
}

.views-exposed-form .views-exposed-widget{
		width:45%;
}

.views-exposed-form .views-exposed-widget input,
.views-exposed-form .views-exposed-widget select{
		width:98%;
}